.animated-path {
  stroke-dasharray: 100% 0%;
  stroke-dashoffset: 95%;
  animation: dash 2s linear;
}

@keyframes dash {
  from {
    stroke-dasharray: 0% 100%;
  }
  to {
    stroke-dasharray: 100% 0%;
  }
}

