@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  overflow: hidden;
  position: relative;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(120, 120, 120, 0) 0%,
    rgba(120, 120, 120, 0.2) 50%,
    rgba(120, 120, 120, 0) 100%
  );
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: shimmer 0.7s infinite;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

button,
a {
  @apply focus:outline-none focus:ring focus:ring-blue-500;
}

.input {
  @apply p-1 rounded bg-black border border-gray-700 focus:outline-none focus:ring focus:ring-blue-500;
}

.ghost-input {
  @apply p-1 rounded bg-transparent focus:outline-none focus:ring focus:ring-blue-500;
}

.primary-button {
  @apply p-2 rounded bg-blue-600 hover:bg-blue-500 active:bg-blue-400 disabled:bg-blue-400 text-white;
}

.danger-button {
  @apply p-2 rounded bg-red-700 hover:bg-red-600 active:bg-red-500 disabled:bg-red-400 text-white;
}

.secondary-button {
  @apply p-2 rounded bg-gray-800 hover:bg-gray-600 active:bg-gray-500 disabled:bg-gray-500 text-white;
}

.text-button {
  @apply p-2 rounded bg-transparent hover:bg-gray-800 active:bg-gray-700 disabled:bg-transparent disabled:opacity-50;
}

.text-button-outline {
  @apply text-button border border-gray-600;
}

.circle-text-button {
  @apply p-2 rounded-full bg-transparent hover:bg-gray-800 active:bg-gray-700 disabled:bg-transparent disabled:opacity-50;
}
